* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #444;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    rgba(126, 230, 205, 255),
    rgba(86, 125, 230, 255)
  );
}

.app {
  width: 80%;
  max-width: 400px;
  min-height: 450px;
  margin: auto;
  margin-top: 15em;
  background-color: #fff;
  padding: 1em;
  border-radius: 3px;
}

.app h1 {
  font-size: 2.4rem;
  font-weight: 800;
  color: #333;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.app button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.todo-actions {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.todo-actions input {
  width: 86%;
  padding: 0.5em;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1.75rem;
}

.todo-actions button {
  display: flex;
  width: 12%;
  background-color: rgba(139, 76, 229, 255);
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
}
